<!-- right side header -->
<div class="p-15 bg-white b-b">

  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-default btn-sm br-2-l w-60"><i class="fa fa-file"></i></button>
      <button class="btn btn-default btn-sm br-2-r w-60"><i class="fa fa-trash"></i></button>
    </div>
  </div>

</div>
<!-- /right side header -->







<!-- right side body -->
<div class="p-15">

  <form name="newMail" class="form-horizontal mt-20">

    <div class="form-group">
      <label class="col-lg-2 control-label">To:</label>
      <div class="col-lg-8">
        <ui-select multiple ng-model="recipients.emails" ng-disabled="disabled">
          <ui-select-match placeholder="Select recipients...">{{$item}}</ui-select-match>
          <ui-select-choices repeat="recipient in availableRecipients | filter:$select.search">
            {{recipient}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Subject:</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" ng-model="mail.subject">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Content:</label>
      <div class="col-lg-8">
         <text-angular ng-model="mailContent" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline'],['justifyLeft','justifyCenter','justifyRight'],['ul','ol']]"></text-angular>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <button class="btn btn-greensea btn-ef btn-ef-7 btn-ef-7b b-0 br-2" activate-button=""><i class="fa fa-envelope"></i> Send Message</button>
      </div>
    </div>
  </form>

</div>
<!-- /right side body -->

