<div class="page page-timeline">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Extra Pages</a>
        </li>
        <li>
          <a ui-sref="app.">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile tile-simple no-bg">

          <!-- tile body -->
          <div class="tile-body streamline timeline p-0">

            <ul>
              <li class="heading"><a href="javascript:;" class="btn btn-greensea b-0">Today</a></li>

              <li class="timeline-post">
                <aside>
                  <div class="thumb wh30 bg-lightred">
                    <i class="fa fa-map-marker"></i>
                  </div>
                </aside>
                <div class="post-container">
                  <div class="panel panel-default b-0">
                    <h3 class="custom-font text-danger">Lorem ipsum dolor sit amet</h3>
                    <span class="text-muted time"><i class="fa fa-clock-o"></i> 1 hour ago</span>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-post">
                <aside>
                  <div class="thumb wh30 bg-blue">
                    <i class="fa fa-clock-o"></i>
                  </div>
                </aside>
                <div class="post-container">
                  <div class="panel panel-default b-0">
                    <h3 class="custom-font text-blue">Excepteur sint occaecat cupidatat</h3>
                    <span class="text-muted time"><i class="fa fa-clock-o"></i> 4 hours ago</span>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-post">
                <aside>
                  <div class="thumb wh30 bg-greensea">
                    <i class="fa fa-rocket"></i>
                  </div>
                </aside>
                <div class="post-container">
                  <div class="panel panel-default b-0">
                    <h3 class="custom-font text-greensea">Neque porro quisquam est</h3>
                    <span class="text-muted time"><i class="fa fa-clock-o"></i> 12 hours ago</span>
                    <p>Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eiu.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-post">
                <aside>
                  <div class="thumb wh30 bg-warning">
                    <i class="fa fa-cloud"></i>
                  </div>
                </aside>
                <div class="post-container">
                  <div class="panel panel-default b-0">
                    <h3 class="custom-font text-warning">Modi tempora incidunt</h3>
                    <span class="text-muted time"><i class="fa fa-clock-o"></i> 13 hours ago</span>
                    <p>Ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis.</p>
                  </div>
                </div>
              </li>

              <li class="heading"><a href="javascript:;" class="btn btn-lightred b-0">Yesterday</a></li>

              <li class="timeline-post">
                <aside>
                  <div class="thumb wh30 bg-drank">
                    <i class="fa fa-compass"></i>
                  </div>
                </aside>
                <div class="post-container">
                  <div class="panel panel-default b-0">
                    <h3 class="custom-font text-drank">But I must explain to you how</h3>
                    <span class="text-muted time"><i class="fa fa-clock-o"></i> yesterday</span>
                    <p>I will give you a complete account of the system, and expound the actual teachings of the great explorer.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-post">
                <aside>
                  <div class="thumb wh30 bg-dutch">
                    <i class="fa fa-coffee"></i>
                  </div>
                </aside>
                <div class="post-container">
                  <div class="panel panel-default b-0">
                    <h3 class="custom-font text-dutch">No one rejects</h3>
                    <span class="text-muted time"><i class="fa fa-clock-o"></i> yesterday</span>
                    <p>But because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-post">
                <aside>
                  <div class="thumb wh30 bg-green">
                    <i class="fa fa-cog"></i>
                  </div>
                </aside>
                <div class="post-container">
                  <div class="panel panel-default b-0">
                    <h3 class="custom-font text-green">Nor again is there anyone</h3>
                    <span class="text-muted time"><i class="fa fa-clock-o"></i> yesterday</span>
                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-post">
                <aside>
                  <div class="thumb wh30 bg-hotpink">
                    <i class="fa fa-comment"></i>
                  </div>
                </aside>
                <div class="post-container">
                  <div class="panel panel-default b-0">
                    <h3 class="custom-font text-hotpink">To take a trivial example</h3>
                    <span class="text-muted time"><i class="fa fa-clock-o"></i> yesterday</span>
                    <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?</p>
                  </div>
                </div>
              </li>

            </ul>

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->



  </div>
  <!-- /page content -->




</div>
