<header class="clearfix" ng-controller="HeaderCtrl">

  <!-- Branding -->
  <div class="branding {{main.settings.brandingColor}}">
    <a class="brand" ui-sref="app.dashboard">
      <span><strong>call</strong>notes.io</span>
    </a>
    <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
  </div>
  <!-- Branding end -->

  <!-- Left-side navigation -->
  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right">
      <a href="javascript:;" collapse-sidebar>
        <fa name="outdent"></fa>
      </a>
    </li>
  </ul>
  <!-- Left-side navigation end -->

  <!-- Search -->
<!--   <div class="search" id="main-search">
    <input type="text" class="form-control underline-input" placeholder="Search...">
  </div> -->
  <!-- Search end -->


  <!-- Right-side navigation -->
  <ul class="nav-right pull-right list-inline">
    <li class="dropdown nav-profile" dropdown on-toggle="toggled(open)">

      <a href class="dropdown-toggle" dropdown-toggle>
        <img src="images/profile-photo.jpg" alt="" class="img-circle size-30x30">
        <span>John Douey <fa name="angle-down"></fa></span>
      </a>

      <ul class="dropdown-menu animated littleFadeInRight">

        <li>
          <a href="#">
            <span class="badge bg-greensea pull-right">86%</span>
            <fa name="user"></fa>Profile
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label bg-lightred pull-right">new</span>
            <fa name="check"></fa>Tasks
          </a>
        </li>
        <li>
          <a href="#">
            <fa name="cog"></fa>Settings
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <fa name="lock"></fa>Lock
          </a>
        </li>
        <li>
          <a ng-click="logout();" >
            <fa name="sign-out"></fa>Logout
          </a>
        </li>

      </ul>

    </li>

  </ul>
  <!-- Right-side navigation end -->



</header>
