<div class="page page-dashboard">

  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>



  <!-- row -->
  <div class="row">


    <!-- col -->
    <div class="col-md-4">
    </div>
    <!-- /col -->



    <!-- col -->
    <div class="col-md-4">
    </div>
    <!-- /col -->


    <!-- col -->
    <div class="col-md-4">
    </div>
    <!-- /col -->


  </div>
  <!-- /row -->
</div>
