<div class="page page-dashboard">

  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
 <!--  /page header -->


  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-md-4">
    <section class="tile" fullscreen="isFullscreen01">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Dpd-Minovate-Seed</strong></h1>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">
            <p>dpd-Minovate-seed is a "seed project", designed to be cloned and used as the basis for new projects.  To make it easier to get started, I have trimmed out much of the functionality of the <a href="http://themeforest.net/item/minovate-angular-admin-dashboard/10068009?ref=fotoflo">Minovate dashboard</a>, which you should buy if you use this for a project, and incorporated a <a href="http://deployd.com/">deployd</a> api server to handle the server-side functionality.</p>
            <ul>
              <li>Login/logout</li>
              <li>Email</li>
              <li>File Upload</li>
              <li>Minovate Documentation</li>
              <li>Deployd Documentation</li>
              <li>dpd-Minovate-seed Documentation</li>
              <li>Email Documentation</li>
              <li>File Upload Documentation</li>
            </ul>
          </div>
          <!-- /tile body -->

        </section>
    </div>
    <!-- /col -->


    <!-- col -->
    <div class="col-md-4">
    </div>
    <!-- /col -->


  </div>
  <!-- /row -->
</div>
